<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h3>
      Thank you for your order 
        <% if current_user %>    
          <%= current_user.name %>
        <% end %>
      !
    </h3>
    <p>
      <% if current_user %>
      An email will be dispatched to <%= current_user.email %> shortly
      <% end %>
    </p>    
    <br>  
    <br> 
  </div>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% order = @order.line_items %>
      <% order.each do |item| %>
      <% product = Product.find_by id: item.product_id %>
        <%= render 'item', product: product, quantity: item[:quantity].to_i %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL SPENT:
        </th>
        <th>
          $<%= @order.total_cents / 100.0 %>
        </th>
      </tr>
    </tfoot>
  </table>
  
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
