<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
  <% if session[:user_id] %>

    <div>
      <%= form_for [@product, @review] do |f| %>
        Description: <%= f.text_area :description %><br />
        Rating : <%= f.select :rating, (1..5) %><br />
        <%= f.submit %>
      <% end %>
    </div>

    <% end %>

    <div class="panel panel-default items">
      <h3>Reviews</h3>
      <% @product.reviews.each do |review| %>
        <div>
          <p><%= review.description %></p>
          <p><%= review.rating %></p>
          <p><%= review.user.email %></p>
        </div>
      <% end %>
    </div>
</section>
